body {
  @include typography(body-copy);
  color: $text;
}

img { max-width: 100%; }

h1 {
  @include typography(headline);
}

h2 {
  @include typography(sub-headline);
  color: $gold;
  margin: 0 0 $base-unit 0;
  font-weight: bold;
  @media screen and (min-width: $medium) {
    margin-bottom: $base-unit*2;
  }
}

h3 {
  @include typography(body-copy);
  margin-bottom: $base-unit;
}

p { margin-bottom: $base-unit; }

a {
  color: $text;
  text-decoration: none;
}

li { list-style: none; }

button { cursor: pointer; }
