// Nav button
.nav-button {
  background-color: transparent;
  height: $base-unit*3;
  position: relative;
  text-indent: -99999px;
  width: $base-unit*4;

  &__icon {
    background-color: $text;
    border-radius: 2px;
    display: block;
    height: $base-unit/2;
    left: 0;
    position: absolute;
    top: 10px;
    width: 100%;

    &:before,
    &:after {
      @include transition(100ms, all, linear);
      background-color: $text;
      border-radius: 2px;
      content: '';
      display: block;
      height: $base-unit/2;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &:before {
      top: 10px;
    }

    &:after {
      bottom: 10px;
    }
  }

  &:hover .nav-button__icon {
    &:before {
      top: 12px;
    }

    &:after {
      bottom: 12px;
    }
  }
}

// Main button
$mobile-height  : $base-unit*3;
$desktop-height : $base-unit*4;

.main-button {
  @include typography(body-copy);
  background-color: $gold;
  border-radius: $mobile-height/2;
  color: $white;
  font-weight: bold;
  height: $mobile-height;
  line-height: $mobile-height;
  padding: 0 $base-unit*2;
  @media screen and (min-width: $medium) {
    border-radius: $desktop-height/2;
    height: $desktop-height;
    line-height: $desktop-height;
    padding: 0 $base-unit*4;
  }

  &:hover {
    opacity: 0.8;
  }
}
