.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 992px;
  padding-left: $base-unit;
  padding-right: $base-unit;
  position: relative;
}

@media screen and (min-width: $medium) {
  .row {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
  }

  .col-md-1 {
    flex: 1;
  }

  .col-md-2 {
    flex: 2;
  }
}
