.tag {
  background-color: $text;
  color: $white;
  display: block;
  font-weight: bold;
  height: 30px;
  left: -30px;
  line-height: 30px;
  position: absolute;
  transform: rotate(-45deg);
  top: 15px;
  width: 120px;

  &--offer {
    background-color: $gold;
  }
}
