.main-header {
  border-bottom: 1px solid $light-grey;
  margin-bottom: $base-unit*2;
  padding-bottom: $base-unit;
  padding-top: $base-unit;

  .nav-button {
    position: absolute;
    top: 8px;
    @media screen and (min-width: $medium) {
      top: 12px;
    }
  }
}

.brand {
  background-image: url('../images/logo.png');
  background-size: cover;
  height: 36px;
  margin: 0 auto;
  text-indent: -9999px;
  width: 216px;
  @media screen and (min-width: $medium) {
    height: 46px;
    width: 290px;
  }
}
