.results {

  &__header {
    margin-bottom: $base-unit*3;
    @media screen and (min-width: $medium) {
      margin-bottom: $base-unit*6;
    }
  }

  &__item {
    margin-bottom: $base-unit*4;
    @media screen and (min-width: $medium) {
      margin-bottom: $base-unit*6;
    }
  }

  &__image-container {
    background-color: $light-grey;
    background-size: cover;
    margin-bottom: $base-unit;
    min-height: 180px;
    overflow: hidden;
    position: relative;
    @media screen and (min-width: $medium) {
      margin-right: $base-unit*3;
    }
  }

  &__offer:before {
    background-color: $gold;
    border-radius: $base-unit/2;
    content: '';
    display: inline-block;
    height: $base-unit;
    margin-right: $base-unit;
    width: $base-unit;
  }
}
